﻿body {
    margin: 0;
}

#game-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none;
}

.line {
    width: 80%;
    height: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: rotateZ(0deg);
    transform-origin: 0%;
}

#shipLine {
    background: red;
}

#pointerLine {
    background: blue;
}

#gameHint {
    position: fixed;
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    z-index: 99999;
    padding: 10px 20px;
    color: #333;
    display: none;
    transform: scale(0) translateX(-50%) translateY(-200%);
    transition: 1.5s all;
}