﻿@font-face {
  font-family: 'Museo-700';
  src: url('../webfonts/330AA0_0_0.eot');
  src: url('../webfonts/330AA0_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/330AA0_0_0.woff2') format('woff2'), url('../webfonts/330AA0_0_0.woff') format('woff'), url('../webfonts/330AA0_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Museo-300';
  src: url('../webfonts/330AA0_1_0.eot');
  src: url('../webfonts/330AA0_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/330AA0_1_0.woff2') format('woff2'), url('../webfonts/330AA0_1_0.woff') format('woff'), url('../webfonts/330AA0_1_0.ttf') format('truetype');
}
i {
  color: #bfa67a;
}
h1 {
  font-family: 'Museo-700';
  text-transform: uppercase;
  font-size: 71px;
}
h2 {
  font-family: 'Museo-300';
  text-transform: uppercase;
  letter-spacing: 19px;
  margin-left: 17px;
}
.hero-static h2 {
  color: white;
}
@media (max-width: 767px) {
  .hero-static h2 {
    font-size: 16px;
    letter-spacing: 10px;
    margin-left: 10px;
  }
}
.hero-parallax {
  position: absolute;
  top: 0;
}
#show-me-more {
  height: 31px;
}
div#preloader {
  background-image: url(/themes/xone/images/backgrounds/sized/space5.jpg);
  background-size: cover;
  background-position: center;
}
div#preloader .cbp {
  height: 48px;
}
@media (max-width: 768px) {
  div#preloader {
    background-image: url(/themes/xone/images/space5-sm.jpg);
  }
}
.parallax-text h2 {
  font-family: 'Museo-300';
  text-transform: uppercase;
  margin: 0px;
}
.navbar-default .navbar-brand {
  padding-top: 11px;
}
.navbar-nav > li > a {
  cursor: pointer;
}
.pricing-wrapper {
  padding: 0;
}
.price-box h1 {
  font-size: 4rem;
  line-height: 4rem;
}
.g-recaptcha {
  margin-bottom: 15px;
}
.services-list li {
  height: 220px;
}
.services-list li:hover {
  background: none;
  color: inherit;
}
.services-list li:hover h4 {
  color: black;
}
@media (min-width: 768px) {
  .services-list li:nth-child(1) {
    border-right: 1px solid #eee;
  }
  .services-list li:nth-child(3),
  .services-list li:nth-child(5),
  .services-list li:nth-child(7) {
    border-right: 1px solid #eee;
  }
  .services-list li:nth-child(1),
  .services-list li:nth-child(2),
  .services-list li:nth-child(3),
  .services-list li:nth-child(4),
  .services-list li:nth-child(5),
  .services-list li:nth-child(6) {
    border-bottom: 1px solid #eee;
  }
}
#work-grid img {
  max-height: 40vw;
  margin: 10px auto;
}
#work-grid p.lead {
  margin-top: 15px;
}
#work-grid ul {
  list-style: none;
}
#work-grid ul li {
  text-align: center;
}
.dzsparallaxer {
  height: 350px;
}
.dzsparallaxer .dzsparallaxer--target {
  width: 101%;
  height: 600px;
}
#about .dzsparallaxer .dzsparallaxer--target,
.AboutPage .dzsparallaxer .dzsparallaxer--target {
  background-image: url(/themes/xone/images/backgrounds/sized/space2.jpg);
}
#services .dzsparallaxer .dzsparallaxer--target,
.ServicesPage .dzsparallaxer .dzsparallaxer--target {
  background-image: url(/themes/xone/images/backgrounds/sized/space3.jpg);
}
#portfolio .dzsparallaxer .dzsparallaxer--target,
.PortfolioPage .dzsparallaxer .dzsparallaxer--target {
  background-image: url(/themes/xone/images/backgrounds/sized/space4.jpg);
}
#contact .dzsparallaxer .dzsparallaxer--target,
.ContactUsPage .dzsparallaxer .dzsparallaxer--target {
  background-image: url(/themes/xone/images/backgrounds/sized/space6.jpg);
}
.dzsparallaxer#home {
  position: relative;
  height: 100%;
}
.dzsparallaxer#home .dzsparallaxer--target {
  width: 100%;
  height: 130%;
  background-image: url(/themes/xone/images/backgrounds/sized/space5.jpg);
  transform: translate3d(0px, -142.5px, 0px);
}
@media (max-width: 768px) {
  #about .dzsparallaxer .dzsparallaxer--target,
  .AboutPage .dzsparallaxer .dzsparallaxer--target {
    background-image: url(/themes/xone/images/backgrounds/sized/space2-sm.jpg);
  }
  #services .dzsparallaxer .dzsparallaxer--target,
  .ServicesPage .dzsparallaxer .dzsparallaxer--target {
    background-image: url(/themes/xone/images/backgrounds/sized/space3-sm.jpg);
  }
  #portfolio .dzsparallaxer .dzsparallaxer--target,
  .PortfolioPage .dzsparallaxer .dzsparallaxer--target {
    background-image: url(/themes/xone/images/backgrounds/sized/space4-sm.jpg);
  }
  #contact .dzsparallaxer .dzsparallaxer--target,
  .ContactUsPage .dzsparallaxer .dzsparallaxer--target {
    background-image: url(/themes/xone/images/backgrounds/sized/space6-sm.jpg);
  }
  .dzsparallaxer#home .dzsparallaxer--target {
    background-image: url(/themes/xone/images/backgrounds/sized/space5-sm.jpg);
  }
}
@media (max-width: 768px) {
  #beginGameNavLink {
    display: none;
  }
}
#onepage-selector {
  text-align: center;
  margin: 50px 0 0 0;
}
.fade-in {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ChronoscapePage table {
  width: 95%;
  margin: 30px auto;
}
#shopifyPartner {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
#shopifyPartner img {
  width: 240px;
}
@media (max-width: 768px) {
  #shopifyPartner img {
    width: 180px;
  }
}